*{

padding: 0;
margin: 0;
box-sizing: border-box;


}

.main{

    display: grid;
    grid-template-columns: 250px 1fr;
   grid-template-rows: 60px 1fr;
   grid-template-areas: "sidebar header"
                        "sidebar content";
   height: 100vh;
   color: hsl(0, 0%, 85%);

}

.sidebar{


    grid-area: sidebar;
    background-color: rgba(110, 110, 110, 0.315);
   
}
.sidebar .logo{

    position: absolute;
    margin-top: 15px;
    margin-left: 60px;
    color: white;
    text-decoration: none;
    font-weight: 500;
    font-size: 25px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}